@import "font-awesome/font-awesome.scss";
@import "variables.scss";

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-family: $font-opensans-light;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0px;
	font-weight: $h-font-weight;
}

@import "header.scss";
@import "main.scss";
@import "footer.scss";