body main .main .carrito {
	padding: 10px;

	table {
		width: 100%;

		thead {
			background-color: #F0F0F0;

			th {
				padding: 10px;
				color: #555;
				font-family: "Opensans Bold", sans-serif;
				font-size: 1em;
				text-align: center;
				overflow: hidden;
			}
		}

		thead:last-child {
			background-color: rgba(0,0,0,0.0);
		}

		tbody {
			border-bottom: 2px solid #CCC;

			td {
				padding: 20px 10px;
				font-family: "Opensans Regular", sans-serif;
				font-size: 0.9em;
				text-align: center;
				vertical-align: middle;

				form {
					display: inline-block;
					
					button[name=eliminar] {
						margin-left: 5px;
						font-size: 1.3em;
					}
				}
			}

			td:first-child {
				text-align: left;
			}

		}

		.carrito-admin {
			padding: 1px 5px;
			color: #333;
			font-size: 1.1em;
			border: none;
			background-color: rgba(0,0,0,0.0);
		}
	
		.btn-confirmar {
			float: left;
			padding: 10px;
			border: none;
			color: #FFF;
			font-family: "Opensans Light", sans-serif;
			font-size: 0.9em;
			background-color: $bg-primary;
		}

	}

	.datos {
		margin-top: 20px;
		padding: 20px;
		background-color: #f0f0f0;

		form[name=cliente] {
			width: 60%;
			margin: 0 auto;
			overflow: hidden;

			.form-group {
				margin-bottom: 10px;

				label {
					display: block;
					margin-bottom: 5px;
					font-size: 1.1em;
				}

				input {
					display: block;
					width: 100%;
					padding: 10px;
					border: 1px solid #cbcbcb;
				}
			}

			.btn-confirmar {
				float: right;
				padding: 10px;
				border: none;
				color: #FFF;
				font-family: "Opensans Light", sans-serif;
				font-size: 0.9em;
				background-color: $bg-primary;
			}

		}
	}

}