.main {
	padding: 20px;

	& > header {
		margin: 10px 0px;
		padding: 10px 5px;

		h2 {
			font-size: 3em;
		}
	}
	
}

@import "content/slide.scss";
@import "content/catalogo.scss";
@import "content/carrito.scss";
@import "content/detalles.scss";